<h1>Caractéristiques du point de vente</h1>
<div class="main-container">
    <div class="col-4">
        <h2>Fiche PDV
            <button (click)="addPDV()" type="button" mat-icon-button color="primary">
                <mat-icon>add_box</mat-icon>
            </button>
        </h2>
        <form class="search-form" (submit)="refreshPDV()" [formGroup]="selectFormGroup">
            <mat-form-field class="search-full-width" appearance="fill">
                <mat-label>Pdv</mat-label>
                <input type="text"
                        placeholder="Pick one"
                        aria-label="Number"
                        matInput
                        formControlName="pdv"
                        [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="refreshPDV()">
                        {{option.nom}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button type="button" (click)="deletePDV()" mat-raised-button color="warn">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button type="submit" mat-raised-button color="primary">
                <mat-icon>check</mat-icon>
            </button>
        </form>

        <form (submit)="updatePDV()" [formGroup]="PDVFormGroup">
            <mat-accordion>
                <mat-expansion-panel [disabled]="isDisabled()" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Localisation </mat-panel-title>
                        <mat-panel-description> Géocodage du point de vente </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="nom">
                    </p>
                    <p>
                        <mat-label>Adresse</mat-label>
                        <input matInput placeholder="Adresse" formControlName="adresse">
                    </p>
                    <div class="d-flex">
                        <p>
                            <mat-label>Code Postal</mat-label>
                            <input matInput placeholder="Code Postal" formControlName="code_postal">
                        </p>
                        <p>
                            <mat-label>Commune</mat-label>
                            <input matInput placeholder="Commune" formControlName="commune">
                        </p>
                    </div>
                    <div class="d-flex">
                        <p>
                            <mat-label>Longitude</mat-label>
                            <input class="mr-1" type="number" matInput placeholder="Longitude" formControlName="longitude">
                        </p>
                        <p>
                            <mat-label>Latitude</mat-label>
                            <input class="mr-1" type="number" matInput placeholder="Latitude" formControlName="latitude">
                        </p>
                    </div>

                    <button type="button" (click)="geocode()" class="mx-1" mat-raised-button color="basic">Geocodage</button>

                    <mat-action-row>
                        <button type="button" mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>
                <mat-expansion-panel [disabled]="isDisabled()" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Caractéristique </mat-panel-title>
                        <mat-panel-description> Caractéristique du point de vente </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                        <mat-form-field appearance="legacy">
                            <mat-label>Surface commerciale</mat-label>
                            <input matInput placeholder="Surface commerciale" formControlName="surface_commerciale">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>ETP</mat-label>
                            <input matInput placeholder="ETP" formControlName="etp">
                        </mat-form-field>
                    </p>
                    <p>
                        <!--<mat-form-field appearance="standard">
                            <mat-label>Date de création</mat-label>
                            <input matInput placeholder="Date de création" formControlName="date_creation">
                        </mat-form-field>-->
                        <mat-form-field appearance="fill">
                            <mat-label>Date de création</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date_creation" (focus)="picker.open()" readonly>
                            </mat-form-field>
                            <mat-datepicker #picker></mat-datepicker>
                    </p>
                    <p>
                        <mat-form-field appearance="standard">
                            <mat-label>Téléphone</mat-label>
                            <input matInput placeholder="Téléphone" formControlName="telephone">
                        </mat-form-field>
                    </p>

                    <mat-action-row>
                        <button type="button" mat-button color="warn" (click)="prevStep()">Précédent</button>
                        <button type="submit" mat-button color="primary" (click)="nextStep()">Valider</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
            <!--<div class="inline-form mt-2">
                <button type="submit" class="mr-2" mat-raised-button color="primary">Valider</button>
            </div> -->
        </form>
    </div>
    <div class="col-8">
        <app-carto></app-carto>
    </div>
</div>
