@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();

.flexbox-parent {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.app-container {
  // background-color: #eee;
  flex-grow: 1;
}

.app-sidenav {
  background-color: lightblue;
  width: 200px;
}

.app-navbar {
  height: 64px;
}

.flexbox-item-grow {
  flex: 1; /* same as flex: 1 1 auto; */
}

.fill-area {
  display: flex;
  flex-direction: row;

  height: calc(100% - 64px);

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.footer {
  padding: 5px;
}

.header{
  z-index: 100;
}